Repository baiyangtx/arctic, pull requests merged in 2023-02, with the labels that each got.

#3 [Trino] Upgrade Trino version to 406
  core/src/main/java/com/netease/arctic/log/LogDataJsonSerialization.java
  core/src/main/java/com/netease/arctic/table/ChangeLocationKind.java
  pom.xml
  style/arctic-checkstyle.xml
  trino/pom.xml
  trino/src/main/java/com/netease/arctic/trino/ArcticCatalogSupportTableSuffix.java
  trino/src/main/java/com/netease/arctic/trino/ArcticConnectorFactory.java
  trino/src/main/java/com/netease/arctic/trino/ArcticConnectorMetadata.java
  trino/src/main/java/com/netease/arctic/trino/ArcticConnectorSplitManager.java
  trino/src/main/java/com/netease/arctic/trino/ArcticHadoopAuthentication.java
  trino/src/main/java/com/netease/arctic/trino/ArcticHdfsAuthentication.java
  trino/src/main/java/com/netease/arctic/trino/ArcticHdfsConfiguration.java
  trino/src/main/java/com/netease/arctic/trino/ArcticMetadataFactory.java
  trino/src/main/java/com/netease/arctic/trino/ArcticModule.java
  trino/src/main/java/com/netease/arctic/trino/ArcticPageSourceProvider.java
  trino/src/main/java/com/netease/arctic/trino/ArcticSessionProperties.java
  trino/src/main/java/com/netease/arctic/trino/delete/DummyFileScanTask.java
  trino/src/main/java/com/netease/arctic/trino/delete/TrinoDeleteFile.java
  trino/src/main/java/com/netease/arctic/trino/delete/TrinoRow.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorMetadata.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorPageSource.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorSplitManager.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedDeleteFilter.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedPageSourceProvider.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/AdaptHiveIcebergTableHandle.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/ArcticTrinoCatalog.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergMetadata.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergPageSource.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergPageSourceProvider.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplit.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplitManager.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplitSource.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/TrinoDeleteFilter.java
  trino/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  trino/src/main/java/io/trino/parquet/reader/TimestampColumnReader.java
  trino/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
  trino/src/test/java/com/netease/arctic/trino/arctic/ArcticQueryRunner.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TableTestBaseForTrino.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestBaseArcticPrimaryTable.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTable.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTableBaseForTrino.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/ArcticQueryRunner.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/ArcticQueryRunnerForClient.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/BaseConnectorTest.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticConnectorFactory.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticTable.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestBaseArcticConnectorTest.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestUnionModule.java
Labels: type:build, module:core, type:infra, module:trino

#2 Arctic Flink module supports iceberg 1.1.x
  core/src/main/java/com/netease/arctic/table/BaseUnkeyedTable.java
  flink/v1.12/flink/pom.xml
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/IcebergClassUtil.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/StreamingReaderOperator.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/IcebergClassUtil.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  flink/v1.15/flink/pom.xml
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/IcebergClassUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
Labels: type:build, module:core, module:flink, module:hive

#4 [bugfix]fixing kerberos authentication issues
  core/src/main/java/com/netease/arctic/io/ArcticHadoopFileIO.java
  core/src/main/java/com/netease/arctic/scan/BaseKeyedTableScan.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  site/docs/ch/flink/flink-dml.md
Labels: module:core, module:flink, type:docs

#5 Change trino-ci to adapt JDK17
  .github/workflows/trino-ci.yml
Labels: type:infra

#6 Change table scan doesn't support SplitSize, so filter it.
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplitSource.java
Labels: module:trino

#7 Add allEntries() in TableEntriesScan
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtil.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
Labels: module:core, module:ams, module:dashboard
